<div class="pb-2 mt-4 mb-2 border-bottom">
    <h2>絞り込み条件</h2>
</div>
<form>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="inputKeyword">キーワード</label>
            <div class="input-group">
                <input type="text" class="form-control" id="inputKeyword" [(ngModel)]="model.keyword" name="keyword"
                    placeholder="">
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="inputPhoneNumber">電話番号</label>
            <div class="input-group">
                <input type="text" class="form-control" id="inputPhoneNumber" [(ngModel)]="model.phone_number" name="phone_number"
                    placeholder="">
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <label>&nbsp;</label>
            <div class="input-group">
                <button type="submit" class="btn btn-primary mb-2" (click)="search()"><i class="fal fa-search"></i>
                    絞り込む</button>
            </div>
        </div>
    </div>
</form>

<div class="pb-2 mt-4 mb-2">
    <h2>コネクタ一覧</h2>
    <nav class="Page navigation example">
        <pagination-controls *ngIf="total > 0" class="justify-content-end" previousLabel="" nextLabel="" (pageChange)="pageChanged($event)"
            maxSize="10">
        </pagination-controls>
    </nav>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>名称</th>
                <th>メールアドレス</th>
                <th>電話番号</th>
                <th>登録日時</th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let connector of connectors | paginate: { itemsPerPage: number_per_page, currentPage: pager, totalItems: total};let i = index">
                <td>{{i+1+indexElement}}</td>
                <td>{{connector.username}}</td>
                <td><a href="mailto:{{connector.email}}">{{connector.email}}</a></td>
                <td>{{connector.phone_number}}</td>
                <td>{{ (connector.created_at !== null) ? (connector.created_at *1000 | date: 'yyyy年MM月dd日') : "" }}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" routerLink="/admin/connector/{{connector.id}}"><i
                            class="fal fa-inbox"></i> 詳細
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(connector.id)"><i class="fal fa-backspace"></i>
                        削除
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <nav class="justify-content-end">
        <pagination-controls *ngIf="total > 0" previousLabel="" nextLabel="" (pageChange)="pageChanged($event)" maxSize="10">
        </pagination-controls>
    </nav>
</div>

<app-modal #modal>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-primary btn-sm" (click)="delete()">OK</button>
        <button type="button" class="btn btn-default btn-sm margin-left" (click)="modalComponent.hide()">キャンセル</button>
    </div>
</app-modal>