<div class="pb-2 mt-4 mb-2 border-bottom">
    <h2>絞り込み条件</h2>
</div>
<form>
    <div class="form-row">
        <div class="col-md-5 mb-3">
            <label for="inputCreatedAtBegin">日時</label>
            <div class="input-group">
                <my-date-picker name="start_date" class="col-md-5" id="start_date" [options]="myDatePickerOptions"
                    (dateChanged)="onStartDateChanged($event)"></my-date-picker>
                <div style="display: flex;align-items:center">〜</div>
                <my-date-picker name="end_date" class="col-md-5" id="end_date" [options]="myDatePickerOptions"
                    (dateChanged)="onEndDateChanged($event)"></my-date-picker>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="category">カテゴリー</label>
            <div class="input-group">
                <select class="form-control" id="inputCategory" [(ngModel)]="model.category" name="category">
                    <option value=0>カテゴリー名を選択してください。</option>
                    <option *ngFor="let category of categories" value="{{category.id}}"> {{category.category_name}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="inputKeyword">キーワード</label>
            <div class="input-group">
                <input type="text" class="form-control" id="inputKeyword" [(ngModel)]="model.keyword" name="keyword"
                    placeholder="">
            </div>
        </div>
        <div class="col-md-1 mb-3">
            <label>&nbsp;</label>
            <div class="input-group">
                <button type="submit" class="btn btn-primary mb-2" (click)="search()"><i data-feather="search"></i>
                    絞り込む</button>
            </div>
        </div>
    </div>
</form>

<div class="pb-2 mt-4 mb-2">
    <h2>求人一覧</h2>
    <nav class="justify-content-end">
        <pagination-controls *ngIf="total > 0" previousLabel="" nextLabel="" (pageChange)="pageChanged($event)" maxSize="10">
        </pagination-controls>
    </nav>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 5%">No</th>
                <th style="width: 20%">事業所／タイトル</th>
                <th style="width: 15%">カテゴリー</th>
                <th style="width: 25%">住所</th>
                <th style="width: 10%">作成日時</th>
                <th style="width: 25%">
                </th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let job of jobs | paginate: { itemsPerPage: number_per_page, currentPage: pager, totalItems: total};let i = index">
                <td>{{i+1+indexElement}}</td>
                <td>{{job.company_name}}<br />{{job.title}}</td>
                <td>{{job.category_name}}</td>
                <td>{{job.address}}</td>
                <td>{{(job.created_at !== null) ? (job.created_at*1000 | date: 'yyyy年MM月dd日') : ""}}</td>
                <td>
                    <button type="button" class="btn btn-info btn-sm" routerLink="/admin/job/{{job.id}}/applicant">
                        <i class="fal fa-user-friends"></i> 応募者
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" routerLink="/admin/job/{{job.id}}"><i class="fal fa-inbox"></i>
                        詳細
                    </button>
                    <!--button type="button" class="btn btn-primary btn-sm"
                        routerLink="/admin/job/edit/1">
                    <i class="fal fa-edit"></i>
                    編集
                    </button-->
                    <button type="button" class="btn btn-danger btn-sm"  (click)="onDelete(job.id)"><i class="fal fa-backspace"></i> 削除
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <nav class="justify-content-end">
        <pagination-controls *ngIf="total > 0" previousLabel="" nextLabel="" (pageChange)="pageChanged($event)" maxSize="10">
        </pagination-controls>
    </nav>
</div>

<!-- delete confirm-->
<!--div class="modal fade" id="delete" role="dialog">
    <div class="modal-dialog modal-sm" style="max-width:346px">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">求人を削除します。<br />よろしければOKボタンを押してください。
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete()">OK</button>
                <button class="btn btn-cnf" data-dismiss="modal">キャンセル</button>
            </div>
        </div>
    </div>
</div-->

<app-modal #modal>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-primary btn-sm" (click)="delete()">OK</button>
        <button type="button" class="btn btn-default btn-sm margin-left" (click)="modalComponent.hide()">キャンセル</button>
    </div>
</app-modal>
