<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
            <div class="sidebar-sticky">
                <a routerLink="/admin" class="sidebar-logo d-flex justify-content-between align-items-center px-3 mb-1 text-muted">CONET</a>

                <ul class="nav flex-column">
                    <li class="nav-item">
                            <a class="nav-link profile" routerLink="/admin/account/edit/{{id}}" href="javascript:void(0);">
                            <img class="img-valign"  src="http://www.placehold.it/70x70" alt="" />
                            <div class="username">
                            <p>{{username}}</p>
                            </div>
                        </a>
                    </li>
                    <!--li class="nav-item">
                        <a class="nav-link" href="../../../manage/mock/entry/list.html">
                            <span data-feather="inbox"></span>
                            応募情報
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../../manage/mock/chat/list.html">
                            <i data-feather="message-circle"></i>
                            チャット履歴
                        </a>
                    </li-->
                </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted">
                    <span>求人</span>
                </h6>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/job" routerLinkActive="active">
                            <i class="fal fa-file-alt"></i>
                            求人管理
                        </a>
                    </li>
                    <!--li class="nav-item">
                        <a class="nav-link" href="../../../manage/mock/entry/list.html">
                            <span data-feather="inbox"></span>
                            応募情報
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../../manage/mock/chat/list.html">
                            <i data-feather="message-circle"></i>
                            チャット履歴
                        </a>
                    </li-->
                </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>コネクター</span>
                </h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/connector" routerLinkActive="active">
                            <i class="fal fa-user-friends"></i>
                            コネクター管理
                        </a>
                    </li>
                </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>事業者</span>
                </h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/company" routerLinkActive="active">
                            <i class="fal fa-box"></i>
                            事業者管理
                        </a>
                    </li>
                    <!--li class="nav-item">
                        <a class="nav-link" routerLink="/admin/staff" [class.active]="router.url.toString().startsWith('/admin/staff')">
                            <i class="fal fa-user-friends"></i>
                            スタッフ管理
                        </a>
                    </li-->
                </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>決済／振込履歴</span>
                </h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/history/payment" routerLinkActive="active">
                            <i class="fal fa-user-friends"></i>
                            決済
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/history/transfer" routerLinkActive="active">
                            <i class="fal fa-gift"></i>
                            報酬祝金振込
                        </a>
                    </li>
                </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>管理</span>
                </h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/account" routerLinkActive="active">
                            <i class="fal fa-user-friends"></i>
                            アカウント管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" (click)="logout()">
                            <i class="fal fa-sign-out"></i>
                            ログアウト
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
