.img-valign {
    vertical-align: middle;
    margin-bottom: 0.75em;
    border-radius:50%;
    width: 30px;
    height: 30px;
}

.modal {
    background: rgba(0,0,0,0.6);
}

.margin-left {
    margin-left: 5px;
}
