<form>
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="no-margin-bottom">基本情報</h2>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-primary float-right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round" class="feather feather-delete">
                        <path d="M21 4H8l-7 8 7 8h13a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"></path>
                        <line x1="18" y1="9" x2="12" y2="15"></line>
                        <line x1="12" y1="9" x2="18" y2="15"></line>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!--ID-->
    <div class="form-row">
        <div class="col-md-8 mb-3">
            <label for="id">ログインID</label>
            <div class="input-group">
                <input type="text" class="form-control" id="id" placeholder="">
            </div>
        </div>
    </div>
    <!--EMAIL-->
    <div class="form-row">
        <div class="col-md-8 mb-3">
            <label for="email">メールアドレス</label>
            <div class="input-group">
                <input type="text" class="form-control" id="email" placeholder="">
            </div>
        </div>
    </div>
    <!--NAME-->
    <div class="form-row">
        <div class="col-md-8 mb-3">
            <label for="name">名前</label>
            <input type="text" class="form-control text-center" id="name" placeholder="">
        </div>
    </div>
    <!--GENDER-->
    <div class="form-row">
        <div class="col-md-8 mb-3">
            <label for="gender">性別</label>
            <div class="input-group" id="gender">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">男性</button>
                    <button type="button" class="btn btn-secondary">女性</button>
                </div>
            </div>
        </div>
    </div>
    <!--ADDRESS-->
    <div class="form-row">
        <div class="col-md-8 mb-3">
            <label for="address">住所</label>
            <input type="text" class="form-control text-center" id="address" placeholder="">
        </div>
    </div>
    <!--PHONE-->
    <div class="form-row">
        <div class="col-md-8 mb-3">
            <label for="phone">電話番号</label>
            <input type="text" class="form-control text-center" id="phone" placeholder="">
        </div>
    </div>
    <!--DATE OF BIRTH-->
    <div class="form-row">
        <div class="col-md-8 mb-3">
            <label for="dob">生年月日</label>
            <input type="datetime-local" class="form-control text-center" id="dob" placeholder="">
        </div>
    </div>
    <!--DOCUMENT-->
    <div class="form-row">
        <div class="col-md-8 mb-3">
            <label for="document">個人情報書類</label>
            <textarea type="text" class="form-control text-center" id="document" placeholder=""></textarea>
        </div>
    </div>
    <!--JOB-->
    <div class="form-row">
        <div class="col-md-8 mb-3">
            <label for="job">現在の職業</label>
            <input type="text" class="form-control text-center" id="job" placeholder="">
        </div>
    </div>
    <!--WORKPLACE-->
    <div class="form-row">
        <div class="col-md-8 mb-3">
            <label for="workplace">現在の勤め先</label>
            <input type="text" class="form-control text-center" id="workplace" placeholder="">
        </div>
    </div>
    <!--BANK NAME-->
    <div class="form-row">
        <div class="col-md-8 mb-3">
            <label for="bankname">銀行名</label>
            <input type="text" class="form-control text-center" id="bankname" placeholder="">
        </div>
    </div>
    <!--CURRENCY-->
    <div class="form-row">
        <div class="col-md-8 mb-3">
            <label for="currency">預金種別</label>
            <input type="text" class="form-control text-center" id="currency" placeholder="">
        </div>
    </div>
    <!--BANK CODE-->
    <div class="form-row">
        <div class="col-md-8 mb-3">
            <label for="bankcode">銀行口座番号</label>
            <input type="text" class="form-control text-center" id="bankcode" placeholder="">
        </div>
    </div>
    <!--BANK BRANCH-->
    <div class="form-row">
        <div class="col-md-8 mb-3">
            <label for="bankbranch">支店名</label>
            <input type="text" class="form-control text-center" id="bankbranch" placeholder="">
        </div>
    </div>
    <!--<div class="form-row">-->
    <!--<div class="col-md-8 mb-3">-->
    <!--<label for="inputPassword">パスワード</label>-->
    <!--<div class="input-group">-->
    <!--<input type="text" class="form-control" id="inputPassword" placeholder="">-->
    <!--<div class="input-group-append">-->
    <!--<button class="btn btn-outline-secondary" type="button"><span-->
    <!--data-feather="refresh-cw"></span> 生成-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-row">-->
    <!--<div class="col-md-8 mb-3">-->
    <!--<label for="inputNote">個人情報書類 <span class="text-muted">(任意)</span></label>-->
    <!--<div class="input-group">-->
    <!--<textarea class="form-control" id="inputNote" rows="4"></textarea>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="form-row">-->
    <!--<div class="col-md-4 offset-md-4 mb-3">-->
    <!--<div class="input-group">-->
    <!--<button type="submit" class="btn btn-success btn-block mb-2"><span-->
    <!--data-feather="save"></span> 保存する-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</form>
